<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title th:text="${book.getName()}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
<header class="login100-form-title p-b-41" th:insert="header.html :: header"/>

<div class="limiter">
    <div class="container-login100">
        <div class="container-login100">
            <div  >
                <div class="login100-form validate-form p-b-33 p-t-5" style="display: flex">
                    <div>
                        <img th:src="'/img/'+${book.getPicPath()}" th:alt="'/img/bg-01.jpg'" width="140pt" height="170pt">
                    </div>
                    <div>
                        <h3 class="container-login100-form-btn m-t-32" th:text="${book.getName()}"/>
                        <p class="container-login100-form-btn m-t-32" th:text="${book.getAuthor()}"/>
                        <p class="container-login100-form-btn m-t-32" th:text="${book.getGenre()}"/>
                        <p class="container-login100-form-btn m-t-32" th:text="${book.getDescription()}"/>
                        <p class="container-login100-form-btn m-t-32" th:text="${book.getPrice()}"/>
                        <form method="get" th:action="'/book/'+${book.getId()}+'/add'" th:if="${person} ne null">
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" name="quantity" placeholder="quantity">
                                <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                            </div>
                            <button class="login100-form-btn" type="submit">
                                Add to cart
                            </button>
                        </form>
                        <div style="display: flex" th:if="${person} ne null and ${person.getRole()} eq 'ADMIN'">
                            <a class="login100-form-btn"  th:href="'/book/'+${book.getId()}+'/edit'">Edit</a>
                            <a class="login100-form-btn"  th:href="'/book/'+${book.getId()}+'/delete'">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>

<footer class="login100-form-title p-b-41" th:insert="footer.html :: footer"/>
</body>
</html>