<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header" style="display: flex; justify-content: space-between;">
        <div style="text-align: left" th:if="${person} ne null">
            <div>
                <a th:href="@{/catalog}">Open catalog</a>
                <br>
                <a th:href="@{/cart}">cart</a>
                <br>
                <a th:href="@{/orders}">Orders</a>
            </div>
        </div>
        <div style="text-align: right" >
            <div th:if="${person} ne null">
                <p th:text="'hello, '+${person.getFirstName()}"></p>
                <a th:href="@{/logout}">logout</a>
                <br>
                <a th:href="@{/users}" th:if="${person.getRole()} eq 'ADMIN'">Users list</a>
                <br>
                <a th:href="@{/orderslist}" th:if="${person.getRole()} eq 'ADMIN'">Orders list</a>
            </div>
            <div th:unless="${person} ne null">
                <a th:href="@{/login}">login</a>
            </div>
        </div>
    </div>

</body>
</html>